td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin-top: 10px;
}

svg {
  height: 140px;
  width: 180px;
} 

td:first-of-type, td:first-of-type > div {
  width: 250px;
  height: 200px;
}